# Java
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/
.metadata/
*.iml
*.iws
*.ipr

# OS specific
.DS_Store
Thumbs.db